html, body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 90%;
	line-height: 1.6em;
	text-align: center;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background: rgb(209, 11, 25);
	color: rgb(0, 0, 0);
	max-width: 790px;
	_width: 790px;
}

a, a:link {
	text-decoration: none;
	color: rgb(11, 11, 209);
}

a:visited {
	text-decoration: none;
	color: rgb(11, 11, 209);
}

a.infoLink:visited {
	font-weight: normal;
}

a.infoLink {
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

.current:link, .current:visited {
	text-decoration: underline;
	color: rgb(209, 67, 11);
	font-size: 0.90em;
}

#header {
	margin: 0;
	padding: 0;
}

#main1 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	background: url(background.jpg) repeat-y;
	width: 790px;
}

#main2 {
	margin: 0;
	padding: 0;
}

#right {
	float: right;
	width: 180px;
	margin: 0px;
	padding: 4px;
	background-color: rgb(231, 239, 193);
	text-align: left;
	margin-top: 16px;
	border-color: rgb(167, 173, 138);
	border-width: 1px;
	border-style: solid;
	-khtml-border-radius: 0.6em;	-moz-border-radius: 0.6em;
	
	/* IE... */
	margin-right: 30px;
}

html>body div#right {
	margin-right: 62px;
}

#content {
	margin: 0px;
	margin-right: 280px;
	margin-top: 12px;
	padding: 0px;
	margin-left: 80px;
	text-align: left;
}

.column {
	margin: 0;
	padding: 0;
}

.column-links {
	margin: 0;
	padding: 0;
	line-height: 1.9em;
}

.cleaner {
	clear: both;
	height: 1px;
	font-size: 1px;
	border: none;
	margin: 0;
	padding: 0;
	background: transparent;
}

.header {
	height: 168px;
	width: 790px;
}

.footer {
	height: 37px;
	width: 790px;
}

.universal {
	height: 60px;
	width: 95px;
}

img {
	border: 0;
}

h2.separator {
	margin-top: 22px;
}

li {
	list-style-type: none;
}

.bold {
	font-weight: bold;
}

.caps {
	letter-spacing: 0.12em;
}

h1 {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 0;
	letter-spacing: 0.04em;
	line-height: 1.4em;
}

h2 {
	font-size: 1.1em;
	font-weight: bold;
	margin-bottom: 2px;
}

h3 {
	font-size: 1.1em;
	font-style: italic;
	font-weight: normal;
	margin-top: 9pt;
	margin-bottom: 2px;
}

.info {
	font-size: 0.88em;
	color: rgb(80, 80, 80);
	margin-top: 0;
}

a.read {
	color: rgb(80, 80, 100);
	text-decoration: underline;
}

.file {
	height: 16px;
	width: 16px;
	vertical-align: middle;
	margin-bottom: 4px;
	margin-right: 6px;
}

.centered {
	text-align: center;
	vertical-align: middle;
}


a.link {
	font-size: 0.90em;
	color: rgb(11, 11, 209);
}

a.invisibleLink {
	color: rgb(255, 255, 255);
	font-weight: normal;
}

h4 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 2px;
	margin-bottom: 4px;
	padding: 2px 5px 0px 5px;
	background: rgb(167, 173, 138);
	font-weight: normal;
	font-size: 1.0em;
}

h5 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin-top: 2px;
	margin-bottom: 4px;
	padding: 2px 5px 0px 5px;
	background: rgb(167, 173, 138);
	font-weight: normal;
	font-size: 1.0em;
	color: rgb(255, 255, 255);
}

h6 {
	font-style: italic;
	font-size: 0.9em;
	font-weight: normal;
	margin-bottom: 0;
}

dl {
	margin: 0;
	margin-bottom: 14px;
	padding: 0;
}

dt {
	margin-left: 4px;
	padding-left: 0;
	line-height: 1.1em;
	margin-bottom: 5px;
	margin-top: 4px;
	font-size: 1em;
}

dd {
	margin-left: 6px;
	line-height: 1.4em;
	margin-top: 4px;
	margin-bottom: 12px;
	font-size: 0.9em;
}

dt.extraInfo {
	margin-bottom: 1px;
	line-height: 1.0em;
	text-indent: -1.1em;
	margin-left: 1.35em;
}

dd.extraInfo {
	margin-bottom: 8px;
	margin-left: 24px;
	line-height: 1.0em;
}

.divider {
	height: 26px;
	width: 176px;
}



